<div class="container">
    <h1 class=" text-center"><strong>Company Information</strong></h1>

    <dl class="row">
        <dt class="col-2">Symbol:</dt><br>
        <dd class="col-10"><%=@company.symbol%></dd>

        <dt class="col-2">Name:</dt>
        <dd class="col-10"><%=@companyInfo.company_name%></dd>

        <dt class="col-2">Exchange:</dt>
        <dd class="col-10"><%=@companyInfo.exchange%></dd>

        <dt class="col-2">Industry:</dt>
        <dd class="col-10"><%=@companyInfo.industry%></dd>

        <dt class="col-2">Description:</dt>
        <dd class="col-10"><%=@companyInfo.description%></dd>

        <dt class="col-2">CEO:</dt>
        <dd class="col-10"><%=@companyInfo.ceo%></dd>

        <dt class="col-2">Sector:</dt>
        <dd class="col-10"><%=@companyInfo.sector%></dd>

        <dt class="col-2">Website:</dt>
        <dd class="col-10"><a href="<%=@companyInfo.website%>"><%=@companyInfo.website%></a></dd>
    </dl>
    
        <div class="card-group topspace text-center mx-auto" style="width: 40rem;">
                <div class="card card-sharp">
                    <div class="card-header"><strong>Number of Shares:</strong></div>
                    <p class="card-text cashText"><%=@shares%></p>
                </div>
                <div class="card card-sharp">
                    <div class="card-header"><strong>Avg. Price Paid:</strong></div>
                    <p class="card-text cashText"><%="$#{@avg}"%></p>
                </div>
                <div class="card card-sharp">
                    <div class="card-header"><strong>Current Price:</strong></div>
                    <p class="card-text cashText"><%="$#{@price}"%></p>
                </div>
        </div>
        <div class='wrapper text-center'>
            <div class="btn-group" role="group">
                    <button type="button" class="btn btn-success btn-lg btn-sharp" style="width: 20.04rem;" data-toggle="modal" data-target="#buyModal"><i class="fa fa-plus"></i> Buy Stock</button>
                    <button type="button" class="btn btn-danger btn-lg btn-sharp" style="width: 20.04rem;" data-toggle="modal" data-target="#sellModal"><i class="fa fa-minus"></i> Sell Stock</button>
            </div>
        </div>


            
        <div class="modal fade" id="buyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Buy Shares of <%=@companyInfo.company_name%></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <h6 class="text-center"><strong>Current Price: $<%=@price%></strong></h4><br>
                        <h6 class="text-center"><strong>Available Funds:$<%=current_user.cash%></strong></h4><br>

                        <%= form_with(model:@transaction, local:true) do |f| %>
                                <%=f.label :shares, "Number of Shares:"%>
                                <%= f.text_field :shares, placeholder:"min. 1",class:"form-control"%>
                                <%= f.hidden_field :company_id, value: @company.id %>
                                <%= f.hidden_field :buy, value: true %>
                                <%= f.hidden_field :price, value: @price %>
                                <%= f.hidden_field :totalShares, value: @shares %>
                                <br><%= f.submit "Submit",class:"btn btn-primary mb-2 "%>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>    

        <div class="modal fade" id="sellModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Sell Shares of <%=@companyInfo.company_name%></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <h6 class="text-center"><strong>Current Price: $<%=@price%></strong></h4><br>
                        <%= form_with(model:@transaction, local:true) do |f| %>
                                <%=f.label :shares, "Number of Shares:"%>
                                <%= f.text_field :shares, placeholder:"max. #{@shares}",class:"form-control"%>
                                <%= f.hidden_field :company_id, value: @company.id %>
                                <%= f.hidden_field :buy, value: false %>
                                <%= f.hidden_field :price, value: @price %>
                                <%= f.hidden_field :totalShares, value: @shares %>
                                <br><%= f.submit "Submit",class:"btn btn-primary mb-2 "%>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>  


    <h2 class="text-center">Transaction History</h2>

    <div class="row top">
        <table class="bottom table table-striped table-dark rounded-bottom">
        <thead>
            <tr>
            <th scope="col">Date/Time</th>
            <th scope="col">Transaction Type</th>
            <th scope="col"># of Shares</th>
            <th scope="col">Price per Share</th>
            </tr>
        </thead>
        <tbody>
            <%if !@transactions.empty?%>
                <%@transactions.reverse.each do |transaction|%>
                    <tr>
                    <th scope="row"><%=transaction.created_at.strftime("%d %b %Y") %></th>
                    <% if transaction.buy == true %>
                        <td class="green">Buy</th>
                    <% else %>
                        <td class="red">Sell</th>
                    <%end%>

                    <td><%=transaction.shares%></td>
                    <td><%=transaction.price%></td>
                    </tr>
                <%end%>
            <%else%>
                    <tr>
                    <th scope="row">-</th>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    </tr>
            <%end%>
        </tbody>
        </table>
    </div>
</div>