<!DOCTYPE html>
<html>
  <head>
    <title>FauxTrader</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


  </head>

  <body>
    <nav class="navbar navbar-light bg-light justify-content-between">
    <a class="navbar-brand" href="#">
      <%=image_tag ("logo.png"), class:"d-inline-block align-top"%>
    </a>

    <% if signed_in? %>
      <%= button_to 'Sign out', sign_out_path, method: :delete %>
    <% else %>
      <%= link_to 'Sign in', sign_in_path %>
    <% end %>
  </nav>


    <%= flash_messages %>
    <%= yield %>

    <footer class="footer">
      <div class="container">
        <span class="text-muted">&copy; 2018 FauxTrader.com</span>
      </div>
    </footer>
  </body>
</html>
